<span class="pull-left">Space Remaining</span>
<span class="pull-right"><%= (10.megabytes - student.imagefile.map { |i| i.size }.sum).to_s(:human_size, precision:2) %> free out of 10 MB</span>
<div class="progress pull-left">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= bytesToMeg(student.imagefile.map { |i| i.size }.sum).to_f * 10 %>%;">
<span class="sr-only">60% Complete</span>
</div>